#Ignore data except stim files without having to move gitignore
data/TestSubject/TestSubject_190725/3DAnatomy/
data/TestSubject/TestSubject_190725/Inplane/
data/TestSubject/TestSubject_190725/Gray/
data/TestSubject/TestSubject_190725/*.mat
data/TestSubject/TestSubject_190725/*.nii.gz
data/TestSubject/TestSubject_190725/*.txt
data/TestSubject/TestSubject_190725/*._
data/TestSubject/*._
data/*._

#Ignore powerpoints and pdfs
*.pdf
*.ppt
*.pptx


*._
._*
*~
*DS_Store
